#anychat-menu.ui.vertical.menu .item.hidden{
    display: none;
}
.field_integration_type.has-error .integration-type-option div{
    color: #9f3a38;
}
.field_integration_type.has-error .integration-type-option{
    background: #fff6f6;
}
.arcu-icon-svg{
    height: 16px;
    width: 16px;
    display: inline-block;
    position: relative;
    top: 0;
    float: right;
}
.arcu-icon-svg svg{
    height: 16px;
    width: 16px;
    display: block;
    color: #747474;
}
.ui.segment {
    background: #fff none repeat scroll 0 0;
    border: 1px solid rgba(34, 36, 38, 0.15);
    border-radius: 0.285714rem;
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
    margin: 1rem 0;
    padding: 1em;
    position: relative;
}
.ui.segment dt {
    border: 1px solid gray;
    border-radius: 50%;
    color: #333;
    float: left;
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
    height: 35px;
    line-height: 34px;
    padding-bottom: 2em;
    text-align: center;
    vertical-align: middle;
    width: 35px;
}
.ui.segment dd {
    color: #333;
    padding-bottom: 0;
    padding-left: 1em;
    padding-top: 0.22em;
    margin-left: 40px;
}
.ui.segment dd p{
    margin-bottom: 15px;
}
.ui.piled.segment {
    font-weight: 400;
    padding-top: 1em;
    margin: 3em 0;
    z-index: auto;
}
.ui.piled.segments::after, .ui.piled.segments::before, .ui.piled.segment::after, .ui.piled.segment::before {
    background-color: #fff;
    border: 1px solid rgba(34, 36, 38, 0.15);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    visibility: visible;
    width: 100%;
}
.ui.piled.segments::after, .ui.piled.segment::after {
    top: 0;
    transform: rotate(1.2deg);
    z-index: -1;
}
.ui.piled.segments::after, .ui.piled.segments::before, .ui.piled.segment::after, .ui.piled.segment::before {
    background-color: #fff;
    border: 1px solid rgba(34, 36, 38, 0.15);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    visibility: visible;
    width: 100%;
}
.ui.piled.segments::before, .ui.piled.segment::before {
    top: 0;
    transform: rotate(-1.2deg);
    z-index: -2;
}
#anychat-setup img,
#anychat-setup img{
    max-width: 600px !important;
    padding: 2px;
    border: 1px solid #DDD;
    border-radius: 5px;
    margin-top: 2px;
    display: block;
}
#anychat-setup dd p{
    margin-top: 0;
    font-size: 16px;
}
#anychat-setup h2{
    font-size: 18px;
    margin-top: 0;
}
.ui.button.fluid{
    width: 100%;
}
.ui.form select{
    padding: .67857143em 1em;
    line-height: 1.21428571em;
    background: #fff url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E') no-repeat right 5px top 55%;
}
.ui.grid > .row.hidden{
    display: none !important;
}
.ui.grid > .hidden{
    display: none !important;
}
#anychat-form .ui.segment{
    min-height: 460px;
}
#anychat-form .ui.form .row{
    margin-bottom: 20px;
}
#anychat-menu-items svg,
#anychat-menu-items img{
    width: 24px;
    height: 24px;
}
#anychat-menu-items i{
    font-size: 24px;
}
.anychat-masthead__logo-container{
    font-size: 26px;
    line-height: 28px;
}
#anychat-plugin-container .drag-handle{
    cursor: move;
}
#anychat-plugin-container{
    font-size: 14px !important;
}
.jetpack_page_anychat-key-config #wpcontent, 
.settings_page_anychat-key-config #wpcontent{
    padding-left: 0;
}
.anychat-masthead {
    background-color: #fff;
    text-align: center;
    box-shadow: 0 1px 0 rgba(200,215,225,0.5),0 1px 2px #e9eff3;
}
.anychat-masthead__inside-container {
    padding: .375rem 0;
    margin: 0 auto;
    width: 100%;
    max-width: 45rem;
    text-align: left;
}
.ui.message:first-child{
    margin-top: 10px;
}
.anychat-body{
    clear: both;
    padding-top: 15px;
    padding: 15px 1rem;
}
.ui.grid > *, .ui *{
    box-sizing: border-box;
    font-size: 14px;
}

.ui.segment{
    border-radius: 0;
    box-shadow: none;
    margin-top: 0;
}
#anychat-tabs{
    opacity: 0;
    transition: 0.2s all;
}
#anychat-tabs.active{
    opacity: 1;
}
.ui.menu{
    padding-top: 0;
}
#anychat-plugin-container .img-responsive{
    max-width: 100%;
}
#anychat-plugin-container .integration-type-option{
    cursor: pointer;
}
.integration-type-option img {
  padding: 6px;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: 0.2s all;
  background: #e4e4e4;
  cursor: pointer;
}
.integration-type-option.active img {
  border-color: #00aff0;
}
#anychat-plugin-container .integration-type-option div{
    text-align: center;
    font-weight: bold;
    font-size: .92857143em;
    margin-bottom: 5px;
}
#anychat-plugin-container .text-right{
    text-align: right;
}
#anychat-plugin-container .text-center{
    text-align: center;
}
#anychat-plugin-container .hero{
    font-size: 24px;
    margin-bottom: 0;
}
#anychat-plugin-container .muted{
    color: #747474;
    margin-top: 0;
}
#anychat-about p{
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 15px;
}
#anychat-about p a{
    font-size: 15px;
}
.ui.form{
    display: block;
}
.ui.form .has-error label,
.ui.form .has-error input,
.ui.form .has-error > .ui.toggle.checkbox label{
    color: #9f3a38 !important;
}
.ui.form .field .errors{
    display: none;
    color: #9f3a38;
}
.ui.form .field .help-block{
    margin-top: 2px;
    font-size: 12px;
    color: #747474;
    font-style: italic;
    padding-left: 10px;
}
.ui.form .field .help-block a{
    font-size: 12px;
}
.ui.form .field{
    margin-bottom: 20px;
}
.ui.form .field.has-error .errors{
    display: block;
}
.ui.form .has-error input{
    background: #fff6f6;
    border-color: #e0b4b4;
}
.ui.form .has-error .labeled > .label{
    background: #fff6f6;
    border-color: #e0b4b4;
    color: #9f3a38;
}
.ui.form .field.has-error .ui.dropdown{
    background: #fff6f6;
    border-color: #e0b4b4;
    color: #9f3a38;
}
#anychat-plugin-container .text-sm{
    font-size: 12px;
}
#anychat-about h2{
    font-size: 18px;
}
.arcu-comment .text-right{
    text-align: right;
}